<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.*</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.dev</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.dev.*</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.qa</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.qa.*</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.stage</string>
		<string>$(AppIdentifierPrefix)com.asadbaidar.kanban.stage.*</string>
	</array>
</dict>
</plist>
