<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdr3jeU90jU3OVy1MqDjsL-kfHn7uY9GE</string>
	<key>GCM_SENDER_ID</key>
	<string>691865484609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asadbaidar.kanban.qa</string>
	<key>PROJECT_ID</key>
	<string>kanban-todoist</string>
	<key>STORAGE_BUCKET</key>
	<string>kanban-todoist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691865484609:ios:f15ba0755ea8926168f5c0</string>
</dict>
</plist>